*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}
.search-field{
    display: flex;
    gap: 30px;
}
label{
    font-size: 25px;
}
.highlight{
    background-color: orangered;
}